.categories {
    height: 100vh;
}

.category-cloth {
    width: 34%;
    background-image: url("../../assets/winter-cloths.jpg");
    background-size: cover;
    background-position: center;
}

.category-tree {
    width: 34%;
    background-image: url("https://images.unsplash.com/photo-1619184324666-a2912be71bad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-size: cover;
    background-position: center;
}

.category-decors {
    height: 50vh;
    background-image: url("../../assets/hanging2.jpg");
    background-size: cover;
    background-position: center;
}

.category-gift {
    height: 50vh;
    background-image: url("../../assets/gifts.jpg");
    background-size: cover;
    background-position: center;
}

.category-wrapper {
    flex-grow: 1;
}

.category-title {
    font-size: 4vw;
}